<div id="UserSettingsBack"></div>
<div class="UserSettings_container" id="UserSettingsContainer">
    <div class="UserSettings_content">
        <div class="UserSettings_header">
            <div class="UserSettings_avatar">
                <img src="https://placehold.co/200x200" alt="Profile avatar" />
            </div>
            <h1 class="UserSettings_name">Иван</h1>
        </div>

        <div class="UserSettings_details" id="UserSettingsDetails"></div>

        <div class="UserSettings__actions" id="UserSettingsActions"></div>
    </div>
</div>